html, body {
	padding: 0 8px 0 8px;
	margin: 0;
}

p {
	text-indent: 1.2em;
	margin-top: 8px;
	margin-bottom: 12px;
}

blockquote {
	background:#f9f9f9;
	margin: 0;
	border-left:4px solid #ccc;
	padding:2px 8px 2px 8px;
}

blockquote , blockquote p {
	font-style: italic;
	color: #444;
	font-size: 14px;
}
