<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.blazers.jandan">

    <!-- Permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
            android:name=".JandanApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <!-- Umeng统计 -->
        <meta-data
                android:name="UMENG_APPKEY"
                android:value="562ec5f467e58e1679000f52"/>
        <meta-data
                android:name="UMENG_CHANNEL"
                android:value="Wandoujia"/>

        <!-- Launcher -->
        <activity
                android:name=".ui.activity.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/NeedDrawerStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Reading News -->
        <activity
                android:name=".ui.activity.NewsReadActivity"
                android:label="@string/title_activity_news_read"
                android:screenOrientation="portrait"
                android:theme="@style/ReadingModeStyle">
        </activity>
        <!-- View Image-->
        <activity android:name=".ui.activity.ImageViewerActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/ImageViewStyle"
                />
        <!-- Service -->
        <service android:name=".services.OfflineDownloadService"/>

    </application>

</manifest>
